extends layout

block styles
  link(rel='stylesheet', href='/css/blog.css')

block content
  section
    h1 The Blog

    div
      each article in articles
        section
          article
            header
              h3
                a(href=article.url)= article.title
              p
                span= moment(article.date).format('MMMM DD, YYYY')
            section
              !{ typogr(article.intro).typogrify() }
            footer
              if article.hasMore
                p
                  a(href=article.url) Read more

    div
      nav
        if prevPage
          a(href=prevPage.url) « Newer
        else
          a(href='/archives/') « Archives

        if nextPage
          a.prev(href=nextPage.url) Older »