extends layout

block styles
  link(rel='stylesheet', href='/css/blog.css')

block content
  div.container.articles
    each article in articles
      article
        header
          h2
            a(href=article.url)= article.title
          p
            span= moment(article.date).format('MMMM DD, YYYY')
        section
          !{ typogr(article.intro).typogrify() }
          if article.hasMore
            p.text-align-right
              a(href=article.url) more

block prepend footer
  div.container.nav-footer
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a.prev(href=nextPage.url) Older »
