extends layout

block styles
  link(rel='stylesheet', href='/css/home.css')

block header
  header#hero-unit.hero-unit
    .container
      hgroup.intro
        h1 Salehen Shovon Rahman
        nav
          ul
            for social in socials
              li(data-tooltip, title='#{social.text}', data-background='#{social.color}')
                a.social(href='#{social.url}', style='background-color: #{social.color}', target='_blank')
                  span(class='symbol')
                    !=social.symbol
        p
          | I'm a 
          strong programmer
          |, and I do a bunch of stuff on the Internet.
          | Although, I'm mostly programming, 
          strong I also produce electronic music
          |. My favourite genre is progressive house. 
          strong Friend me up on
          |  the Internet social sphere. And most importantly, do not be
          | afraid to 
          strong say hi
          |. I'm a friendly guy.

block content
  div.container
    h2.text-align-center From the Blog
  div.container.articles
    each article in articles
      article
        header
          p
            span= moment(article.date).format('MMMM DD, YYYY')
          h3
            a(href=article.url)= article.title
        section
          !{ typogr(article.intro).typogrify() }
          if article.hasMore
            p.text-align-right
              a(href=article.url) more

block prepend footer
  div.container.nav-footer
    a(href='/archive.html') « Archives
    a(class='prev', href="/blog") Previous posts »
    //- TODO: use clearfix.
    .clear

block scripts
  script(src="/bower_components/jquery/jquery.js")
  script(src="/bower_components/tooltipster/js/jquery.tooltipster.js")
  script(src="/js/main.js")