!!! 5
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(
        rel='alternate',
        href=locals.url+'/feed.xml',
        type='application/rss+xml',
        title=locals.description)
      link(rel='stylesheet', href='/css/main.css')
  body(class=bodyclass)
    header#hero-unit.hero-unit
      block header
        .container
          hgroup.intro
            h1 Salehen Shovon Rahman
            hav
              ul
                mixin social-link(symbol, color, url, text)
                  li(data-tooltip, title='#{text}')
                    a.social(href='#{url}', data-background='#{color}', style='background-color: #{color};', target='_blank')
                      span(class='symbol') 
                        !=symbol
                mixin social-link('&#xe086;', '\#0096ff', 'https://twitter.com/shovon_rahman', 'I tweet')
                mixin social-link('&#xe037;', '\#242424', 'https://github.com/shovon', 'I code')
                mixin social-link('&#xe052;', '\#367da6', 'http://ca.linkedin.com/in/salehenrahman/', 'Connect with me')
                mixin social-link('&#xe039;', '\#00bc66', 'https://plus.google.com/105481576429214918750', 'Add me to your circle')
                mixin social-link('&#xe078;', '\#ff6600', 'https://soundcloud.com/shovonrahman', 'My music')
                mixin social-link('&#xe099;', '\#942424', 'https://youtube.com/user/shovonRahman', 'My music as videos')
                mixin social-link('&#xe024;', '\#778b93', 'mailto:salehen.rahman@gmail.com', 'Email me')
            p
              | I'm a programmer, and I do a bunch of stuff on the Internet.
              | Although, I'm mostly programming, but I also produce electronic
              | music. My favourite genre is progressive house. Friend me up on
              | the Internet social sphere. And most importantly, do not be
              | afraid to say hi. I'm a friendly guy.
    
    div#content
      div.content-wrap
        block content
          h2 Welcome to zombocom!
    footer
      div.content-wrap
        block footer
          section.about
            !=contents['about.md'].html
          section.copy
            p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
              a(href='https://github.com/jnordberg/wintersmith') Wintersmith
              //- please leave the "powered by" if you use the design
    
    block scripts
      script(src="/bower_components/jquery/jquery.js")
      script(src="/bower_components/tooltipster/js/jquery.tooltipster.js")
      script(src="/js/main.js")