!!! 5
html(lang='en', class='no-js')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    //- TODO: check to see if the site is mobile-ready.
    meta(name='viewport', content='width=device-width')
    title
      block title
        = locals.name
    link(
      rel='alternate',
      href=locals.url+'/feed.xml',
      type='application/rss+xml',
      title=locals.description)
    block styles
      link(rel='stylesheet', href='/css/layout.css')

    block scripts
      script(src="/js/layout.js")

      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{googleAnalytics}', 'shovon.github.io');
        ga('send', 'pageview');

  body
    block header
      header
        section
          h2
            a(href='/') #{ locals.name }
          nav
            ul
              li
                a(href='/') Home
              li
                a(href='/blog/') Blog

    block content

    footer
      block footer
        section
          div
            section.recent-posts
              h3 Recent Posts
              ul
                for article in articles
                  li
                    span
                      a(href='#{article.url}')= article.title
                    span= moment(article.date).format('MMM DD, YYYY')

            section.about-me
              h3 About Me
              p
                | I'm Salehen Shovon Rahman, I write code, and I'm on the
                | Internet a lot.

            section.social-links
              h3 Connect With Me
              ul.social-footer
                for social in env.config.home.socials
                  li(data-tooltip, title=social.text)
                    a(href=social.url, target='_blank', style='background-color: #{ social.color }')
                      span(class='symbol')
                        !=social.symbol

        section.copyright
          p
            | &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; 
            //- Please leave the "designed by" if you use the design.
            | powered by 
            a(
              href='https://github.com/jnordberg/wintersmith',
              target="_blank")
              | Wintersmith
            | . Hosted on 
            a(href='https://github.com/', target='_blank') GitHub
            | . (For the hackers among you, the site's source code is on a
            | separate 
            a(href='https://github.com/shovon/my-site', target='_blank')
              | repository
            | )
            //- please leave the "powered by", if you use the site
            //- generator.